.heading {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  position: relative; /* Needed for the pseudo-element */
}

.heading::after {
  content: "";
  display: block;
  width: 300px; /* Adjust the width of the underline */
  height: 2px; /* Thickness of the underline */
  background-color: #f4511e; /* Color of the underline */
  margin: 10px auto 0; /* Margin to position the underline */
}

.maincontainer {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.container {
  width: 450px;
  height: inherit;
  background: white;
  padding: 10px 20px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.subhead {
  color: white;
  font-size: 14px;
  padding-bottom: 3px;
  letter-spacing: 1px;
}

/* BUTTON */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  transition: all 1s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.token {
  display: inline-block;
  color: white;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 4px;
  font-size: 14px;
}
.noTokensMessage {
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
}

@media only screen and (min-width: 242px) and (max-width: 482px) {
  .maincontainer {
    display: contents;
    margin: 10px;
  }
  .container {
    width: inherit;
    height: inherit;
    background: white;
    padding: 10px 20px;
    margin: 5px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.21);
  }
}
